DATABASE_URL="postgresql://postgres:postgres@localhost:5433/transitops"
JWT_SECRET="your-secret-key-change-this-in-prod"
PORT=3000
NODE_ENV="development"


# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
